body
{
    margin: 0;
    padding: 0;
    background-color: #400d70;
    font-family: "Black Ops One", sans-serif;
    overflow-x: hidden;
}

.hero
{
    width: 100vw;
    height: 100vh;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/miskatonic.life_the_attack_of_the_mutant_guinea_pigs_high_det_c2e86c23-28d5-40e6-b380-a7911f9fa43f_2.png);
    background-size: cover;
    mix-blend-mode: difference;
    position: relative;
    overflow: hidden;
}

.container_hero
{
    width: 75vw;
}

.hero_title
{
    font-size: 12rem;
    color: rgb(173, 173, 173);
    opacity: 1;
    letter-spacing: -0.04em;
    line-height: 0.8em;
    text-shadow: 4px 2px 19px;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
}

.first
{
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: #49FF18;
    justify-content: center;
    align-items: center;
    position: relative;
    min-width: 100vh;
    z-index: 1;
    background-image: url(../img/landscape.jpg);
    background-size: cover;
}

.stamp_1
{
    position: absolute;
    left: 0px;
    top: 80%;
    transform: translateY(-50%);
}

.stamp_2
{
    position: absolute;
    right: 0px;
    bottom: 0;
}

.stamp_3
{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.cloud
{
    position: absolute;
    top: 25%;
    width: clamp(180px, 25vw, 420px);
    pointer-events: none;
    z-index: 10;
    left: -40%;
    animation: cloud-move 40s linear infinite;
}

.cloud_1
{
    position: absolute;
    top: 25%;
    width: clamp(180px, 25vw, 420px);
    pointer-events: none;
    z-index: 10;
    right: -40%;
    animation: cloud-move_1 150s linear infinite;
}

.cloud_2
{
    position: absolute;
    top: 25%;
    width: clamp(180px, 25vw, 420px);
    pointer-events: none;
    z-index: 10;
    right: -40%;
    animation: cloud-move_2 150s linear infinite;
}

@keyframes cloud-move
{
    from {transform: translateX(0);}
    to {transform: translateX(160vw);}
}

@keyframes cloud-move_1
{
    from {transform: translateX(0);}
    to {transform: translateX(-200vw) scale(5);}
}

@keyframes cloud-move_2
{
    from {transform: translateX(0);}
    to {transform: translateX(-200vw) scale(5);}
}